body {
  margin: 0;
  height: 100vh;
  color: white;
}

.mask {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.fade-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  height: 80vh;
}

.fade1, .fade2, .fade3 {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.fade1 {
  background-color: #C9D6EA;
}

.fade2 {
  background-color: #5E9EFF;
}

.fade3 {
  background-color: #2C80FF;
}

h1 {
  margin: 0 2rem;
  font-size: 6rem;
  text-align: center;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.04em;
  z-index: 1;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

.reveal {
  background-color: rebeccapurple;
  opacity: 0;
  height: 1px;
}

.content {
  padding: 0 6em;
}

.lorem {
  color: rebeccapurple;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}